<a href="https://colab.research.google.com/github/abuqaiselegant/100days/blob/main/Copy_of_COMP4008_exercise_sheet_1_2024_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 1 Part 1: Preliminary Exercises on Lists and Variables**

Here are some introductory exercises on lists and variables.

To complete each task, you should fill in the code block that begin with a # symbol, replacing the text that is there with your code. Once you have completed the code, either click the "play" symbol to the left of the block, or press shift-return on your keyboard. If there is output from that piece of code, it will then display in a new block underneath the code.

The tasks use similar ideas to those demonstrated at the beginning of the class, so think back to that if you need ideas and inspiration. The code and slides from that introductory part of the class are available on Moodle.

The following block creates a list of three names

In [ ]:
listOfNames = ["Kermit the Frog", "Fozzie Bear", "Beaker", "Animal"]

In the next block, write two lines of code, to append the name "Miss Piggy" to the list, then to display the list

In [ ]:
# add your code here
listOfNames.append("Miss Piggy")
listOfNames

['Kermit the Frog', 'Fozzie Bear', 'Beaker', 'Animal', 'Miss Piggy']

The next block contains a definition, *addStudent*, of a function that takes the name of a list, a piece of text containing the student's name, and a number that is their mark in their Maths module, and adds a new item to the list containing those three pieces of information. You do not have to do anything to the code in the next block.

In [ ]:
def addStudent(listOfStudents, studentName, maths):
  listOfStudents.append([studentName,maths])

In the next block, make a copy of *addStudent* from above and modify it so that in addition to the student's name and maths mark, it also records the student's hall of residence (a string of text), and numbers that represent the student's marks in English and in Programming.

In [ ]:
# replace this comment with a copy of addStudent and modify it
def addStudent(listOfStudents, studentName, residence, maths, English, Programming):
  listOfStudents.append([studentName,residence, maths,English, Programming])

In the next block, write five lines of code that (1) creates an empty list called *studentRecords* and (2) uses the newly defined *addStudent* function to add the following students to *studentRecords*.

| Name              | Residence          | Maths | English | Programming |
|-------------------|--------------------|-------|---------|-------------|
| Kermit the Frog   | Sherwood Hall      | 65    | 78      | 52          |
| Fozzie Bear       | Newark Hall        | 48    | 45      | 42          |
| Animal            | Sherwood Hall      | 35    | 68      | 48          |
| Miss Piggy        | Melton Hall        | 78    | 75      | 85          |

In [ ]:
# replace this comment with your code
studentRecords=[]
addStudent(studentRecords, "Kermit the Frog","Sherwood Hall",65,78,52)
addStudent(studentRecords, "Frozzie Bear","Newark Hall",48,45,42)
addStudent(studentRecords, "Animal","Sherwood Hall",35,68,48)
addStudent(studentRecords, "Miss Piggy","Melton Hall",78,75,85)

In the next block, write a line of code that lists just the students who have a mark of 50 or over in Maths

In [ ]:
# replace this comment with your code
[s for s in studentRecords if s[2]>=50]

[['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Miss Piggy', 'Melton Hall', 78, 75, 85]]

In the next block, write a line of code that lists all the students who have a mark under 50 in all of Maths, English and Programming.

In [ ]:
# replace this comment with your code
[s for s in studentRecords if s[2]<50 and s[3]<50 and s[4]<50]

[['Frozzie Bear', 'Newark Hall', 48, 45, 42]]

**Week 1 Part 2: More Exercises about Decision Making**

Here are some more tasks that use the "if" statement to enable the computer to make decisions.

The code in the next block prints "winner" if the score is greater than 50. Modify it so that it prints "winner" if the score is greater than 60.

In [ ]:
def winner(score):
  if score>50:
    print("winner")
  else:
    print("loser")

The next block uses the *winner* function with various different inputs so that you can check if it is working correctly. There is no need to modify the next block.

In [ ]:
print("should say loser"); winner(20);
print("should say loser"); winner(52);
print("should say loser"); winner(50);
print("should say winner"); winner(62);
print("should say loser"); winner(60)

should say loser
loser
should say loser
winner
should say loser
loser
should say winner
winner
should say loser
winner

In the next block, define a function *passed* that takes in a student's mark, and prints "pass" if the mark is greater than or equal to 50, otherwise prints "fail".

In [ ]:
# insert your code here
def passed(Marks):
  if Marks>=50:
    print("pass")
  else:
    print("fail")

In the next block, write a few lines that use the function passed with some different inputs (e.g. 43, 67, 50) and check that you get the expected outputs

In [ ]:
# insert your code here
passed(50)
passed(89)
passed(34)

pass
pass
fail

Write a function passedBoth that inputs two marks, and prints "pass" if both marks are greater than or equal to 50, otherwise prints "fail". The most concise way to do involves using the word and (see the summary slides for details of how this works).

In [ ]:
# insert your code here
def passedBoth(marks1, marks2):
  if marks1 and marks2 >=50:
    print("pass")
  else:
    print("fail")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [ ]:
# insert your code here
passedBoth(78,30)
passedBoth(98,99)
passedBoth(30,2)

fail
pass
fail

The next block prints the text "University Park", "Jubilee" or "Sutton Bonington" based on the name of the student residence given as input. Note the use of elif (short for "else if") to create three different conditions. Modify the code so that it also checks for the word "Nottingham Two" and replies with "Jubilee". Modify it so that it says "not known" if hallName doesn't match any of the names.

In [ ]:
def findHallLocation(hallName):
  if hallName=="Sherwood" or hallName=="Melton" or hallName == "Nottingham Two":
    print("Jubilee")
  elif hallName=="Nightingale" or hallName=="Lenton" or hallName=="Ancaster":
    print("University Park")
  elif hallName=="Bonington Village":
    print("Sutton Bonington")
  else:
    print("not known")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [ ]:
# insert your code here
findHallLocation("Nottingham Two")
findHallLocation("radford")

Jubilee
not known

A person is eligible for an main award if they get a score of over 80. Otherwise, if they have a score of over 70 and are under 18, they are eligible for a young person's award. Otherwise, they get no award. In the next block, define a function passed that inputs the score, and prints the correct award. Hint: you may find the elif: command useful - see the reference material to see how this works.

In [ ]:
# insert your code here
def passed(score,age):
  if score>80:
    print("main award")
  elif score>70 and age< 18:
    print("young person's award")
  else:
    print("no award")

In the next block, write some examples of using that function with different inputs to check whether it works.

In [ ]:
# insert your code here
passed(78,9)

young person's award

In the next block, write a definition *NPCDecision* that takes in three pieces of information: numbers called *distance* and *health*, and a string of text called *threat*.

* if distance is close (under 20) and health is good (50 or over) or the threat is severe, the function outputs (using the *return* statement) the text "attack"
* of distance is fairly close (under 30) and health is low (under 20), the function outputs (using the *return* statement) the text "retreat"
* otherwise, the function outputs (using the *return* statement) the text "stay put"

You will need to use a combination of *and* and *or* in your definition.

In [ ]:
# insert your code here
def NPCDecision(distance, health, threat):
   if distance<20 and health >=50 or threat == "severe":
    return "attack"
   elif distance<30 and health <20 :
    return "retreat"
   else:
    return "stayput"

In the next block, write some examples of using that function with different inputs to check whether it works. You will need to use *print* to access the output produced by the *return*: e.g. print(NPCDecision(10,80,"moderate"))

In [ ]:
# insert your code here
print(NPCDecision(10,30,"normal"))

stayput

Write a definition *permittedToEnter* that takes a number that is a person's age, and a text string *status*. It prints "entry permitted" if the person is over 18, and their *status* is not banned. You will need to use the Python keyword *not* or the *!=* (not equal to) symbol.

In [ ]:
# insert your code here
def permittedToEnter(age, status):
  if(age>18 and status != "banned"):
    print("entry permitted")

(more complicated) For example, you must be under 21 to be eligible to get a youth prize (a certificate or medal) in the sports competition. If you win 10 or more games, you get a medal, otherwise you get a certificate. Write a definition that decides who gets one of these youth awards, and some code to test it.

In [ ]:
# insert your code here
def award(age,win):
  if(age > 21):
    print("not eligible")
  else:
    if win>=10:
      print("you won a medal")
    else :
      print("you got a certificate")

In [ ]:
award(18,6)

you got a certificate

**Week 1 Part 3: Additional Tasks**

If you have completed the above tasks, here are some additional tasks for you to do, based on the exercises in Part 1 above, in order to extend your knowledge and practice more.

In the next block, write a line of code that lists all the students who have a mark under 50 in one or more of Maths, English and Programming. You will need to use the word *or* where you used *and* in the previous block.

In [ ]:
# replace this comment with your code

In the next block, write a new version of *addStudent* that checks (1) if any of the marks are below 0 or over 100, and (2) that the residence is one of "Sherwood Hall", "Newark Hall", or "Melton Hall". If any of these conditions are not satisfied, print an error message and don't add the student to the list.

In [ ]:
# replace this comment with a copy of addStudent and modify it

In the next block, write code that uses *addStudent* to create a number of examples that tests whether the new version of *addStudent* is working - that is, you should provide a variety of examples, including examples that satisfy the checks, ones with marks below 0 and/or above 100, ones with multiple marks below/above 0/100, ones with a different/mis-spelled residence name, ones where students have scored exactly 0 or 100 (these are called "edge cases").

In [ ]:
# replace this comment with your code

(difficult) In the next block, write code that displays each student and the average of their marks across the three modules

In [ ]:
# replace this comment with your code

(complicated and long) rewrite *addStudent* so that it works with students taking an arbitrary number of modules, not just the three. Also rewrite the averaging method from the previous block so that it works with this version.