<a href="https://colab.research.google.com/github/abuqaiselegant/100days/blob/main/PythonNote1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def isPalindrome(x):
        """
        :type x: int
        :rtype: bool
        """
        rev = 0
        temp = x
        while temp>0:
            rem = temp%10
            rev = rev*10+rem
            temp=temp//10
        if rev == x:
            return True
        else :
            return False

In [ ]:
isPalindrome(1920021)

False

In [ ]:
def pal(x):
    if x<0:
        return False
    if str(x)==str(x)[::-1] :
        return True
    else :
        return False

In [ ]:
pal(10)

False

In [ ]:
def isPalindrome(s):
    s= s.lower()
    cleaned = []
    for c in s:
        if c.isalnum():
            cleaned.append(c)
    cleaned = ''.join(cleaned)
    if cleaned == cleaned[::-1]:
        return True
    else :
        return False

In [ ]:
isPalindrome("ab ba")

True

insertion sort

In [17]:
def insertionSort(x):
    for i in range(len(x)):
        j =i
        while(j>0 and x[j-1]>x[j]):
            temp = x[j]
            x[j]=x[j-1]
            x[j-1]=temp
            j-=1

    return x

In [18]:
insertionSort(arr)

[-202, -97, -9, -2, 0, 11, 45, 88, 747]

selection sort

select lowest and replace it with the first and respectively
13,45,34,23,11,1,2

In [6]:
def SelectionSort(x):

    for i in range(len(x)-1):
        minElement = i
        for j in range(i+1,len(x)):
            if x[minElement] > x[j]:
                minElement = j
        temp = x[i]
        x[i]=x[minElement]
        x[minElement] = temp
    return x

In [7]:
arr = [-2, 45, 0, 11, -9,88,-97,-202,747]
SelectionSort(arr)

[-202, -97, -9, -2, 0, 11, 45, 88, 747]

merge sort

Bubble Sort
swap adjacent one and this one leads to maximum element to last and then iteration will be one less in rest
7,18,3,1,9,66
7,18,3,1,9,66
7,3,18,1,9,66
7,3,1,18,9,66
7,3,1,9,18,66

3,7,1,9,18
3,1,7,9,18

In [14]:
def bubbleSort(x):

    for i in range(len(x)-1):
        for j in range(len(x)-1-i):
            if x[j+1]<x[j]:
                temp = x[j+1]
                x[j+1]=x[j]
                x[j]=temp
    return x

In [15]:
a = [1,300,4,56,41]
bubbleSort(a)

[1, 4, 41, 56, 300]